<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="https://www.capgemini.com/nl-nl/">
      <img src="../assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <em>Capgemini - </em>
      Great plastic race!
    </a>
    <div>        
        <button class="btn primary-btn" (click)="toggle()">
            <img src="../assets/user-icon.png" width="30" height="30" class="d-inline-block align-top user-image" alt="">
            <span>{{loginState}}</span>
        </button>
    </div>
</nav>
