<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">date</th>
      <th scope="col">product</th>
      <th scope="col">weight(gram)</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of itemList">
      <td>{{item.date}}</td>
      <td>{{item.name}}</td>
      <th>{{item.weight}}</th>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>Total saved: </td>
      <td></td>
      <td>{{totalWeight / 1000}}kg</td>
    </tr>
    <tr>
      <td>Company total: </td>
      <td></td>
      <td>{{companyTotalWeight / 1000}}kg</td>
    </tr>
  </tfoot>
</table>

<p>
  Your contribution to the total amount of recycled plastic is about <strong>{{(totalWeight / companyTotalWeight) * 100 | number:'2.1-3'}}%</strong>. Not bad!! Keep it up.
</p>
