<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">date</th>
      <th scope="col">product</th>
      <th scope="col">weight(gram)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">06-28-2019</th>
      <td>Cola bottle 1,5 liters</td>
      <td>52.2g</td>
    </tr>
    <tr>
      <th scope="row">06-28-2019</th>
      <td>Cola bottle 1,5 liters</td>
      <td>52.2g</td>
    </tr>
    <tr>
      <th scope="row">06-28-2019</th>
      <td>Cola bottle 1,5 liters</td>
      <td>52.2g</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>Total saved: </td>
      <td></td>
      <td>156.6g</td>
    </tr>
  </tfoot>
</table>
